@charset "utf-8";

@font-face {
        font-family: 'TrademakerLight';
        src: url('http://biosetor01.com/resources/TrademakerLight/TrademakerLight.eot');
        src: url('http://biosector01.com/resources/TrademakerLight/TrademakerLight.eot?#iefix') format('embedded-opentype'),
        url('http://biosector01.com/resources/TrademakerLight/TrademakerLight.woff') format('woff'),
        url('http://biosector01.com/resources/TrademakerLight/TrademakerLight.ttf') format('truetype'),
        url('http://biosector01.com/resources/TrademakerLight/TrademakerLight.svg#TradeMarker-Light') format('svg');
        font-style: normal;
}
* {
        padding: 0;
        margin: 0;
}

body {
        background: #a8dae3 url('http://biosector01.com/wiki/skins/MonoBook/bgbio2015.jpg') no-repeat center center fixed !important;
        background-attachment: fixed !important;
        background-size: cover !important;
        text-align: center;
        height: 100%;
}

input[type="text"] {
        width: 500px;
        background-color: #f9f9f9;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        padding: 11px 10px 9px;
        font-size: 1.5em;
        font-family: "TrademakerLight", serif;
}

input[type="submit"] {
        background-image: url('http://biosector01.com/resources/search.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        opacity: .3;
        width: 40px;
        height: 40px;
        border: 0;
        position: relative;
        top: -44px;
        left: 225px;
        cursor: pointer;
}

input[type="submit"]:hover {
        opacity: .7;
}
/* Desktop only */
@media screen and (min-device-width: 480px) {
    #content {
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        -webkit-transform: translateY(-60%);
        -ms-transform: translateY(-60%);
    }

    img {
        max-width:400px;
    }
}

/* Mobile only */
@media screen and (max-device-width: 480px) {
    #content {
        position: relative;
        top: 2em;
    }
    body {
        background: #a8dae3 url('http://biosector01.com/images/mobile.jpg') no-repeat center top fixed !important;
        background-size: cover !important;
    }
    img {
        max-width:200px;
    }

    input[type="text"] {
        width: 250px;
    }

    input[type="submit"] {
        left: 100px;
    }
}